.himg1{
    margin-left:380px;
    margin-top:20px;
    width:700px;
    height:50%;
}

.hdiv1{
    display:block;

 
    

}
.hdiv2{
    display:flex;
    margin-left:15px;
    margin-top:30px;
    gap:15px;
}
